# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.DS_Store
*local_settings.py
contest/notes.txt
report/static/images
report/static/fuse.js
report/static/leaflet-ajax
report/static/leaflet-fusesearch-master
report/static/moment
venv
# Django stuff:
*.log
*.pot
