{% extends 'contest/base.html' %}
{% block content %}
        <h1>Anti-Eviction</h1>
        <p class="lead">
        Welcome to Anti-Eviction, an online resource for information about
        tenants rights and the residential tenancy branch in British Columbia.
        </p>
        <p>
        This website was made by me, <a href="www.wgdamon.com">Will Damon</a>, a
        social scientist and community organizer. I am not a lawyer or a trained advocate,
        although lawyers and advocates have vetted these resources.
      </p>
      These tools are intended to help get you learn about your rights, get organized,
      and start the process of addressing a residential tenancy issue. Their are advocates
      available to help, please consult them as early in the process as possible. </p>
      <ul>
        <li> <a href="http://tenants.bc.ca/">TRAC (Tenant Resource and Advisory Centre) </a>
        <li> <a href="www.clasbc.net"> CLAS (Community Legal Assistance Society)</a>
      </ul>
        <p><a class="btn btn-lg btn-success" href="/contest/1/" role="button">Let's Get Started</a></p>
      </div>

{% endblock %}
