{% extends 'contest/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div id="step1">
    <h1> <b>Worried About an Eviction? Know Your Rights!</b> </h1>
      <p class="lead">
        If you are concerned that your landlord may try to evict you please read the following carefully and take steps to protect yourself.
      </p>
      <div class="well">
        <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Evidence and Witnesses Are Your Best Defense</h3>
           </div>
          <div class="panel-body">
            <p><b>1. Keep all of your communications with your landlord in writing and keep copies of everything</b></p>
            <p><b>2. Whenever possible have a reliable witness present when you communicate with your landlord</b></p>
            <p><b>3. Ask for and retain rent receipts after you pay rent </b></p>
            <p><b>4. Talk to your neighbors and see if they have similar concerns, if they do support each other!</b></p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">Never Withhold Rent</h3>
       </div>
      <div class="panel-body">
        <p><b>1. The easiest way to get evicted is to be late with your rent.</b></p>
        <p><b>2. No matter how frusturating things get, NEVER withhold your rent.</b></p>
        <p><b>3. If you need repairs done on your building use this website to start asserting your rights as tenants</b></p>
        <p><b>4. Talk to your neighbors and see if they have similar concerns, if they do <U>support each other!</u></b></p>
  </div>
</div>
</div>
<div class="well">
  <div class="panel panel-default">
     <div class="panel-heading">
       <h3 class="panel-title">Get Organized and Fight Back</h3>
     </div>
    <div class="panel-body">
      <p><b>1. Talk to your neighbors and start a tenants organization</b></p>
      <p><b>2. Use this website to share your experience</b></p>
      <p><b>3. Join a neighborhood renter's union and get involved in local politics</b></p>
      <p><b>4. Urge your politicians to protect renter's rights and reform the RTA</b></p>
</div>
</div>
</div>

    </div>
  </div>
</div>
</div>
{% endblock %}
