{% extends 'contest/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div id="step1">
    <h1> <b>Know Your Rights!</b> </h1>
      <p class="lead">
        Just because you cant afford your rent doesn't mean you don't have rights.
      </p>
      <div class="well">
        <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Your Next Steps</h3>
           </div>
          <div class="panel-body">
            <p><b>1. Unfortunately, it is highly unlikely that you will be able to succesfully stop this eviction</b></p>
            <p><b>2. However, your landlord can not evict you right away. </b></p>
            <p><b>3. You may wish to file for dispute resolution if 5 days have not passed since you received your notice. If you
                  explain your situation you may be able to buy yourself more time.</b></p>
            <p><b>4. Even if you do not contest your eviction remember that your landlord and the police cannot evict you - you can only be evicted by a registered bailiff hired by your landlord to evict you</b></p>
      </div>
    </div>
  </div>

    </div>
  </div>
</div>
</div>
{% endblock %}
