{% extends 'contest/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div id="step1">
    <h1> <b>Step 1:</b> </h1>
      <p class="lead">
        Please answer these questions to the best of your ability
      </p>
      <div class="well">
        <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Request for Return of Security Deposit</h3>
           </div>
        </div>
          <div class="panel-body">
            <form class="form row-border" action="{% url 'post_report' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label class="control-label" for="datetimepicker12">Today's Date</label>
                <input class="form-control" id="datetimepicker12" name="date" placeholder="YYYY-MM-DD" title="" type="text" required /></div>
              <div id="autoform">

              </div>
            </form>
          </div>
      </div>
    </div>
      <div id="step2" style="display:none; text-align: left" class="col-md-12">
        <div>
          <h1> <b>  Step 2: </b> </h1>
          <p class ="lead">
          Send this form to your landlord. Copy and paste the text or just print it.
          </p>
        </div>
        <hr/>
        <div id="printarea">
          <h4>Request for Security Deposit</h4>
          <hr/>
          <div id="dateprint">Date: </div>
            <br/>
          <div class="tnameprint">Tenant's Name: %text%</div>
            <br/>
            <u> Tenant's Address</u>:
            <br/>
            <div class="taddressprint">%text%</div>
            <div class="tcityprint">%text%, BC</div>
            <div class="tpostalprint">%text%</div>

            <br/>
            <div class="lnameprint">Landlord's Name: %text%</div>
            <br/>
            <u> Landlord's Address</u>:
            <br/>
            <div class="laddressprint">%text%</div>
            <div class="lcityprint">%text%, BC</div>
            <div class="lpostalprint">%text%</div>
            <br/>
            <div class="lnameprint">Dear %text%,</div>
            <br/>
            <div class="secdepamountprint idateprint"<p>This is a formal request for a return of the $%secdepamountprint% security deposit paid on %idateprint%</div></p>
            <br/><P>
            According to B.C's Residential Tenancy Policy Guideline #17(http://www2.gov.bc.ca/assets/gov/housing-and-tenancy/residential-tenancies/policy-guidelines/gl17.pdf):
            <br/></p>
            <blockquote class="blockquote">
              <p>"The right of a landlord to obtain the tenant’s consent to retain or file a claim against a security deposit for damage to the rental unit is extinguished if:<ul>
                  <li>the landlord does not offer the tenant at least two opportunities for inspection as required (the landlord must use Notice of Final Opportunity to Schedule a Condition Inspection (form RTB-22) to propose a second opportunity); and/or</li>
                  <li>having made an inspection does not complete the condition inspection report, in the form required by the Regulation, or provide the tenant with a copy of it."</li></ul></p>
            </blockquote>
            <br/>
            <div class="rdateprint">I am hoping that we can resolve the above issue on or before <b>%rdateprint%</b> without having to apply for dispute resolution with the Residential Tenancy Branch (RTB). If not completed by the requested date, I have the right to take legal action through the RTB.</div>
          <br/><br/>

            Thank you, <br/><br/><br/>

            _______________
            <div class="tnameprint">%text%</div>
      </div>
      <br/>
      <div style="padding-bottom:5em">
      <button class="btn btn-success" onclick="printDiv('printarea')" style="float:right">
        <i class="fa fa-print" aria-hidden="true"></i> Print Letter
      </button>
    </div>
      </div>
    </div>

             <button  class="btn btn-primary" id="back" disabled="disabled" type="button" onClick="refreshPage()">
               <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
             </button>
             <button class="btn btn-primary" id="next"> Next
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
             </button>
             <hr/>

    </div>
  </div>
</div>
</div>
<script>
    var dict = {
      "tname":{
        "id":"tname",
        "name":"Your Name",
        "pholder":"Your First and Last Name"},
      "address":{
        "id":"taddress",
        "name":"Your Address",
         "pholder":"123 Main Street"},
      "city":{
        "id":"tcity",
        "name":"Your City of Residence",
        "pholder":"Cityville"},
      "postal":{
        "id":"tpostal",
        "name": "Your Postal Code",
        "pholder":"V5Y1J2"},
      "lname":{
        "id": "lname",
        "name": "Your Landlords Name",
        "pholder": "Jane Doe"},
      "laddress":{
        "id": "laddress",
        "name": "You Landlords Address",
        "pholder": "123 Main Street"
      },"lcity":{
        "id":"lcity",
        "name":"Your Landlords City of Residence",
        "pholder":"Cityville"
      },"lpostal":{
        "id":"lpostal",
        "name": "Your Postal Code",
        "pholder":"V5Y1J2"
      },"idate":{
        "id":"idate",
        "name": "Move-in or Security Deposit Payment Date",
        "pholder": "The Move-in Date or Date Security Deposit was paid.",
        "widget": "date"
      },"secdepamount":{
        "id":"secdepamount",
        "name": "Amount of security deposit",
        "pholder": "The amount paid for security deposit"
      },"rdate":{
        "id":"rdate",
        "name": "Deadline for return of the security deposit",
        "pholder": "In most cases leave two weeks to a month for the landlord to retun the funds",
        "widget": "date"
      }
    };

    window.onload = function() {
        for (var fgroup in dict) {
          formattedgroup = formgroup.replace(/%name%/g, dict[fgroup]["name"]).replace(/%id%/g, dict[fgroup]["id"]).replace(/%pholder%/g, dict[fgroup]["pholder"]);
          $("#autoform").append(formattedgroup);
          if fgroup["widget"] === "textarea") {
            textareafy(dict[fgroup], 40, 4)
          } else if (fgroup["widget"] === "date") {
            dateafy(dict[fgroup])
          }
        }
    };
    var clicks = 0;
    document.getElementById("next").addEventListener("click", function( event ) {
      if (clicks == 0) {
        var date = $("#datetimepicker12").val();
        $('#dateprint').append(date);

        for (var fgroup in dict) {
          dict[fgroup]["var"] = $("#"+dict[fgroup]["id"]).val();
          var re = new RegExp("%" + dict[fgroup]["id"]+"print%")
          $("." + dict[fgroup]["id"]+"print").each(function(){
            $(this).text(function(){
            return $(this).text().replace(re, dict[fgroup]["var"]);
            });
          });
          }

        document.getElementById('step1').style.display = 'none';
        document.getElementById('step2').style.display = 'block';
        $("#back").attr("disabled", false);
        clicks = 1;
      } else {
        location.href='/contest/landing/';
      }
    }, false);
   $(function () {
       $('#datetimepicker12').datetimepicker({
            format: 'YYYY-MM-DD'
       });
   });

  function refreshPage(){
    clicks = 0;
    document.getElementById('step1').style.display = 'block';
    document.getElementById('step2').style.display = 'none';
    for (var fgroup in dict) {
      $("." + dict[fgroup]["id"]+"print").each(function(){
          $(this).text(function(){
            return $(this).text().replace(dict[fgroup]["var"], "%text%");
          });
        });
    }
  }
  function printDiv(divName) {

   var printContents = document.getElementById(divName).innerHTML;
   w=window.open();
   w.document.write(printContents);
   w.print();
   w.close();
  }
   </script>
{% endblock %}
