{% extends 'contest/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div id="step1">
    <h1> <b>Step 1:</b> </h1>
      <p class="lead">
        Please answer these questions to the best of your ability
      </p>
      <div class="well">
        <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Request for Security Deposit</h3>
           </div>
        </div>
          <div class="panel-body">
            <form class="form row-border" action="{% url 'post_report' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label class="control-label" for="datetimepicker12">Today's Date</label>
                <input class="form-control" id="datetimepicker12" name="date" placeholder="YYYY-MM-DD" title="" type="text" required /></div>
              <div id="autoform">

              </div>
            </form>
          </div>
      </div>
    </div>
      <div id="step2" style="display:none; text-align: left" class="col-md-12">
        <div>
          <h1> <b>  Step 2: </b> </h1>
          <p class ="lead">
          Send this form to your landlord. Copy and paste the text or just print it.
          </p>
        </div>
        <hr/>
        <div id="printarea">
          <h4>Request for Security Deposit</h4>
          <hr/>
          <div id="dateprint">Date: </div>
            <br/>
          <div class="tnameprint">Tenant's Name: %tnameprint%</div>
            <br/>
            <u> Tenant's Address</u>:
            <br/>
            <div class="taddressprint">%taddressprint%</div>
            <div class="tcityprint">%tcityprint%, BC</div>
            <div class="tpostalprint">%tpostalprint%</div>

            <br/>
            <div class="lnameprint">Landlord's Name: %lnameprint%</div>
            <br/>
            <u> Landlord's Address</u>:
            <br/>
            <div class="laddressprint">%laddressprint%</div>
            <div class="lcityprint">%lcityprint%, BC</div>
            <div class="lpostalprint">%lpostalprint%</div>
            <br/>
            <div class="lnameprint">Dear %lnameprint%,</div>
            <br/>
            <div class="secdepamountprint idateprint"><p>This is a formal request for a return of the $%secdepamountprint% security deposit paid on %idateprint%</div></p>
            <br/>
            <br/><P>
            According to B.C's Residential Tenancy Policy Guideline #17(http://www2.gov.bc.ca/assets/gov/housing-and-tenancy/residential-tenancies/policy-guidelines/gl17.pdf):
            <br/></p>
            <blockquote class="blockquote">
              <p class="mb-0">"The landlord has 15 days, from the later of the day the tenancy ends or the date
              the landlord receives the tenant's forwarding address in writing to return the
              security deposit plus interest to the tenant, reach written agreement with the
              tenant to keep some or all of the security deposit, or make an application for
              dispute resolution claiming against the deposit"</p>
            </blockquote>
            <br/>
          <div class="rdateprint">  I am hoping that we can resolve the above issue on or before <b>%rdateprint%</b> without having to apply for dispute resolution with the Residential Tenancy Branch (RTB). If not completed by the requested date, I have the right to take legal action through the RTB. If the deposit is not returned wihtin 15 days the RTB can order you to repay up to twice the amount of the damage deposit.</div>
          <br/><br/>

            Thank you, <br/><br/><br/>

            _______________
            <div class="tnameprint">%tnameprint%</div>
      </div>
      <br/>
      <div style="padding-bottom:5em">
      <button class="btn btn-success" onclick="printDiv('printarea')" style="float:right">
        <i class="fa fa-print" aria-hidden="true"></i> Print Letter
      </button>
    </div>
      </div>
    </div>

             <button  class="btn btn-primary" id="back" disabled="disabled" type="button" onClick="refreshPage()">
               <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
             </button>
             <button class="btn btn-primary" id="next"> Next
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
             </button>
             <hr/>

    </div>
  </div>
</div>
</div>
<script>
    var dict = {
      "tname":{
        "id":"tname",
        "name":"Your Name",
        "pholder":"Your First and Last Name"},
      "address":{
        "id":"taddress",
        "name":"Your Address",
         "pholder":"123 Main Street"},
      "city":{
        "id":"tcity",
        "name":"Your City of Residence",
        "pholder":"Cityville"},
      "postal":{
        "id":"tpostal",
        "name": "Your Postal Code",
        "pholder":"V5Y1J2"},
      "lname":{
        "id": "lname",
        "name": "Your Landlords Name",
        "pholder": "Jane Doe"},
      "laddress":{
        "id": "laddress",
        "name": "You Landlords Address",
        "pholder": "123 Main Street"
      },"lcity":{
        "id":"lcity",
        "name":"Your Landlords City of Residence",
        "pholder":"Cityville"
      },"lpostal":{
        "id":"lpostal",
        "name": "Your Postal Code",
        "pholder":"V5Y1J2"
      },"idate":{
        "id":"idate",
        "name": "Move-in or Security Deposit Payment Date",
        "pholder": "The Move-in Date or Date Security Deposit was paid.",
        "widget": "date"
      },"secdepamount":{
        "id":"secdepamount",
        "name": "Amount of security deposit",
        "pholder": "The amount paid for security deposit"
      }};

    window.onload = function() {
      for (var fgroup in dict) {
        formattedgroup = formgroup.replace(/%name%/g, dict[fgroup]["name"]).replace(/%id%/g, dict[fgroup]["id"]).replace(/%pholder%/g, dict[fgroup]["pholder"]);
        $("#autoform").append(formattedgroup);
        if (dict[fgroup]["widget"] === "textarea") {
          textareafy(dict[fgroup], 40, 4)
        } else if (dict[fgroup]["widget"] === "date") {
          dateafy(dict[fgroup])
          }
        }
      };


    var clicks = 0;
    document.getElementById("next").addEventListener("click", function( event ) {
      if (clicks == 0) {
        var date = $("#datetimepicker12").val();
        $('#dateprint').append(date);

        for (var fgroup in dict) {
          if (dict[fgroup]["widget"] === "date") {
            dict[fgroup]["var"] = $("#"+dict[fgroup]["id"]).children().val();
          } else {
            dict[fgroup]["var"] = $("#"+dict[fgroup]["id"]).val();
          }
          var re = new RegExp("%" + dict[fgroup]["id"]+"print%")
          $("." + dict[fgroup]["id"]+"print").each(function(){
            $(this).text(function(){
            return $(this).text().replace(re, dict[fgroup]["var"]);
            });
          });
        }

        document.getElementById('step1').style.display = 'none';
        document.getElementById('step2').style.display = 'block';
        $("#back").attr("disabled", false);
        clicks = 1;
      } else {
        location.href='/contest/landing/';
      }
    }, false);
   $(function () {
       $('#datetimepicker12').datetimepicker({
            format: 'MM-DD-YYYY'
       });
   });

  function refreshPage(){
    clicks = 0;
    document.getElementById('step1').style.display = 'block';
    document.getElementById('step2').style.display = 'none';
    for (var fgroup in dict) {
      $("." + dict[fgroup]["id"]+"print").each(function(){
          $(this).text(function(){
            return $(this).text().replace(dict[fgroup]["var"], "%text%");
          });
        });
    }
  }
  function printDiv(divName) {

   var printContents = document.getElementById(divName).innerHTML;
   w=window.open();
   w.document.write(printContents);
   w.print();
   w.close();
  }
   </script>
{% endblock %}
