{% extends 'contest/base.html' %}
{% block content %}
        <h1>Contest Your Eviction*</h1>
        <h4>(or other tenancy related issue...)</h4>
        <p class="lead">Are you being evicted or have other issues with your landlord? Need help? Use this tool to learn about your rights as a tenant and take the first step towards fighting back.</p>
        <p><a class="btn btn-lg" style="background-color:#ffb74d" href="/contest/1/" role="button">Let's Get Started</a></p>
      </div>

{% endblock %}
