{% extends 'contest/base.html' %}
{% block content %}
<h1>Thanks for Using Tenant's Talk</h1>
<div class="row">
  <div class="col-md-4" style="border: 3px solid; height:100%">
      <p class="lead">
        <u><b><h3>Report your Tenancy Issue</h3></b></u>
        <br/>
        <div style="border: solid .5em; border-radius: 1em">
          <i class="fa fa-comments  fa-5x"> </i><br/>
          <i class="fa fa-pencil-square fa-4x" style="margin-right:.25em"> </i>
          <i class="fa fa-map-marker  fa-4x" style="padding-left: .2em; padding-right: .2em"> </i>
        </div>
      </p>
      Evictions, unpaid security deposits, and other kinds of illegal treatment of renters
      are epidemic in cities across Canada. Add data to the debate. Share your experience, learn about your rights, and join a movement for social change</p>
    <p class="lead"><a class="btn btn-lg " style="background-color:#ffb74d" href="{% url 'report_form' %}" role="button">REPORT</a></p>
  </div>
  <div class="col-md-4" style="border-style: solid; border-width: 3px 0px 3px 0px; height:100%">
    <p class="lead">
      <u><b>  <h3> Still Need Help? </h3> </b></u>
      <br/>
      <div style="border: solid .5em; border-radius: 1em">
        <img class="img-responsive" src=/static/images/map_icon.png>
      </div>
    </p>
    Find a nearby advocate now. Legal advocates are free and can help you with a variety of legal issues. We've got them all in one place here.
    <br/>
    <br/>
    <br/>
    <p class="lead"><a class="btn btn-lg " style="background-color:#79bd9a;" href="/contest/fletter/arb" role="button">Get Help</a></p>
  </div>
  <div class="col-md-4" style="border: 3px solid; height: 100%">
    <u><b><h3>Get Organized, Fight Back</h3></b></u>
    <br/>
    <div style="border: solid .5em; border-radius: 1em">
      <img class="img-responsive" style="padding:.24em" src=/static/images/tenantmap.png alt="Map of Tenant Complaints">
    </div>
    </p>
    B.C's laws are stacked against tenants. The law is full of loopholes, and unnecessary hurdles that make it hard for even the most on it tenants to stick up against landlords -- even when the landlrods act in bad faith. It wont be easy but people across the city are getting organized. Click the link below to sign our petition and learn more about the Vancouver Tenants Union</p>
    <p class="lead"><a class="btn btn-lg " style="background-color:#ffb74d" href="{% url 'petition' %}" role="button">Tenant Power</a></p>
  </div>
</div>
  {% endblock %}
