{% extends 'contest/base.html' %}
{% block content %}
<h1>Take Action, Fight for Tenants Rights in B.C </h1>
<div class="panel panel-default" style="border:1px solid black; font-family:Work Sans">
	<div class="panel-heading" role="tab" id="headingOne">
	    <h1>
	    <span>What We Want</span>
	    <button type="button"class="btn btn-default pull-right" data-toggle="collapse" data-target="#hearing" aria-expanded="false" aria-controls="Minimize">
	      <i class="fa fa-minus" aria-hidden="true"></i>
	    </button>
	    </h1>
  </div>
  <div id="hearing" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body" style="padding-left: 2em; font-family:Work Sans; font-size: 21px; font-weight: 200">
			<p> B.C's laws are stacked against tenants. The RTA is full of loopholes and unnecessary hurdles that make it hard for even the most organized tenants to stand up against shady landlords -- even when the landlords clearly break the law.</p>

			<p>We want more than a few of the worst loopholes fixed, we want the RTA amended in a way that will put tenants on an equal footing with landlords.</p>

			<p>We want to see the RTA fixed to include:</p>
			<ul class="list-group">
				<li class="list-group-item">Every tenant facing eviction should have a right to a hearing. Unlike many other cities in the U.S and Canada tenants in B.C have to 'opt-in' to dispute resolution. It should be the other way around so unlawfully evicted tenants do not forfeit their rights on a technicality.</li>

				<li class="list-group-item">Tenants should have a right to first refusal when evicted for renovations or as a result of a fixed term lease, and landlords should have to pay a relocation fee for all no-fault evictions set to a citywide average of first and last months rent plus a security deposit.</li>
				<li class="list-group-item">Increase the penalties for landlords who break the law.</li>
				<li class="list-group-item">Follow Ontario's lead and put security deposits in trust with the RTA to make sure all landlords play by the rules.</li>
			</ul>
		</div>
	</div>
</div>
			<link href='https://actionnetwork.org/css/style-embed.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v2/petition/fix-the-rta?format=js&source=widget&referrer=group-tenants-talk'></script><div id='can-petition-area-fix-the-rta' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
		</div>
	</div>
</div>		

  {% endblock %}
