{% extends 'contest/base.html' %}
{% block content %}
<ul class="list-group">
          <li class="list-group-item"> An opt-out system of dispute resolution for evictions (instead of B.C's complaint based system with its tight deadlines)</li>
          <li class="list-group-item">A right to first refusal for no-fault evictions and a more substantial relocation fee for no-fault evictions </li>
          <li class="list-group-item">Close all the loopholes</li>
          <li class="list-group-item">Fund real social housing and adopt a poverty reduction plan!</li>
        </ul>

<link href='https://actionnetwork.org/css/style-embed.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v2/petition/fix-the-rta?format=js&source=widget&referrer=group-tenants-talk'></script><div id='can-petition-area-fix-the-rta' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>

 <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/tenants_talk" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tenants_talk', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
         

<script src="https://static.change.org/product/embeds/v1/change-embeds.js" type="text/javascript"></script>
  {% endblock %}
