{% extends 'contest/base.html' %}
{% block content %}
        <h2>{{ question.question_text }}</h2>
        <div class="form-check">
            <ul style="list-style: none; padding-left: 0px">
              {% for c in choices %}
              {% if not c.leaf  %}
                  {% if c.tooltip %}
                    <li style="padding-bottom: 5px; padding-left: 10px;">
                      <a class="btn btn-lg" style="background-color: #ffb74d; white-space: normal; width:95%" href="/contest/{{c.children.id}}"role="button"> {{ c.choice_text }}</a>
                      <a tabindex="0" id= "{{forloop.counter}}" class="fa fa-question-circle-o fa-lg" role="button" style="color:black" aria-hidden="true" data-toggle="popover" data-placement="right" data-trigger="focus" title="Tooltip"  data-content="{{c.tooltip}}"></a>
                    </li>
                    <script>
                      $(function () {
                        $('#{{forloop.counter}}').popover();
                      });
                    </script>

                  {% else %}

                    <li style="padding-bottom: 5px; padding-right: 30px;">
                       <a class="btn btn-lg" style="background-color: #ffb74d; white-space: normal; width:95%" href="/contest/{{c.children.id}}"role="button"> {{ c.choice_text }}</a>
                    </li>

                  {% endif %}

              {% else %}
                {% if c.tooltip %}
                  <li style="padding-bottom: 5px; padding-left: 10px;">
                    <a class="btn btn-lg" style="background-color: #ffb74d; white-space: normal; width:95%" href="/contest/fletter/{{c.leaf}}"role="button"> {{ c.choice_text }}</a>
                    <a tabindex="0" id= "{{forloop.counter}}" class="fa fa-question-circle-o fa-lg" role="button" style="color:black" aria-hidden="true" data-toggle="popover" data-placement="right" data-trigger="focus" title="Tooltip"  data-content="{{c.tooltip}}"></a>
                  </li>
                  <script>
                    $(function () {
                      $('#{{forloop.counter}}').popover();
                    });
                  </script>
                {% else %}
                <li style="padding-bottom: 5px; padding-right: 30px;">
                  <a class="btn btn-lg" style="background-color: #ffb74d; white-space: normal; width:95%" href="/contest/fletter/{{c.leaf}}"role="button"> {{ c.choice_text }}</a>
                {% endif %}
              {% endif %}
              {% endfor %}

            </ul>
      </div>
    </div>
{% endblock %}
